[submodule "rplugin/python3/deoplete/parso"]
	path = rplugin/python3/deoplete/vendored/parso
	url = https://github.com/davidhalter/parso.git
[submodule "jedi"]
	path = rplugin/python3/deoplete/vendored/jedi
	url = https://github.com/jbradaric/jedi.git
